<div id="player">
	<div class="panes">
		<div class="movie">
		</div>
		<div class="test">
			<a href="#">
			<span>Committee profiles, what we like, what we don't like, how to get us into bed, all the gossip you know!</span>
			<img src="/skin/player/meet_the_committee.jpg" alt="meet the committee" />
			</a>
		</div>
		<div>
			<a href="#">
			<span>The mighty snowsports winter tour, 14th - 23rd December, A week of Jager fueled debauchery for the low low price of £299!</span>
			<img src="/skin/player/holiday.jpg" alt="meet the committee" />
			</a>			
		</div>
		<div>
			<a href="http://www.leedsmet.ac.uk/carnegie/sport/index_7CECA68EA27B41928378076B56BEAB3A.htm">
			<span>Check out our snowsports page on the AU website, along with all the other sports clubs you could join, but snowsports is the best!</span>
			<img src="/skin/player/uni_campus.jpg" alt="Leeds Met Campus" />
			</a>
		</div>
	</div>
	<ul class="buttons">
		<li><h4>Snowsports? In Leeds?</h4><p>The 2009 snowsports promo movie</p><span class="arrow"></span></li>
		<li><h4>Meet the Committee</h4><p>Find out all about Lockett and his gnarly crew</p><span class="arrow"></span></li>
		<li><h4>Winter Tour</h4><p>The legend that is the winter tour!</p><span class="arrow"></span></li>
		<li><h4>Snowsports @ Leeds Met</h4><p>Our official Athletic Union page</p><span class="arrow"></span></li>
		<!--<li style="height:72px;"><h4>Touch</h4><span class="arrow"></span></li>-->
	</ul>
</div>