/* 
	Sitename
	designed and created by name
*/
/*
	general css document
*/
body {
	font-size: 10px;
	background-color:#FFFFFF;
	color:#221e1f;
	font-family:Helvetica, Arial, sans-serif;
	text-align: center;
}

a
{
	color:#41b3d3;
}

div.wrapper
{
	width:940px;
	margin:auto;
	text-align:left;
	padding-bottom:20px;
}

div#header
{
	margin-top:20px;
	position:relative;
}

div#header h1
{
	background-image: url('../skin/header/leedsmetsnowsports.jpg');
	background-repeat: no-repeat;
	background-position:bottom;
	height:95px;
	width:536px;
	text-indent:-90000px;
	padding-top:60px;
}

ul#main_navigation
{
	background-image: url('../skin/header/navbar_light.jpg');
	overflow:hidden;
	background-repeat: no-repeat;
	margin-top:20px;
}

ul#main_navigation li
{
	float:left;
}

ul#main_navigation li a
{
	display:block;
	width:150px;
	text-align:center;
	background-image: url('../skin/header/navdivider.gif');
	background-position: right;
	background-repeat: repeat-y;
	font-size:1.4em;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	height:54px;
	line-height:58px;
}

ul#main_navigation li a:hover
{
	background-image: url('../skin/header/navbar_dark.jpg');
	background-position: center;
	background-repeat:no-repeat;
}

ul#main_navigation li.first a:hover
{
	background-position: left;
}

ul#main_navigation li.last a:hover
{
	background-position: right;
}

ul#main_navigation li.current a
{
	background-image: url('../skin/header/navbar_pink.jpg');
	background-position: center;
	background-repeat:no-repeat;	
}

ul#main_navigation li.current.first a
{
	background-position: left;
}

ul#main_navigation li.current.last a
{
	background-position: right;
}

/*=============PROMOS=============*/

ul#promos
{
	overflow:hidden;
	margin-top:20px;
}

ul#promos li
{
	width:300px;
	height:229px;
	background-repeat: no-repeat;
	float:left;
	margin-left:20px;	
}

ul#promos li:first-child
{
	margin-left:0px;
}

ul#promos li h4
{
	background-repeat: repeat-x;
	background-position: bottom;
}

ul#promos li.blue
{
	background-image: url('../skin/callouts/blue.gif');
}

ul#promos li.yellow
{
	background-image: url('../skin/callouts/yellow.gif');
}

ul#promos li.pink
{
	background-image: url('../skin/callouts/pink.gif');
}

ul#promos li.blue h4
{
	background-image: url('../skin/bars/blue_bar.gif');
}

ul#promos li.yellow h4
{
	background-image: url('../skin/bars/yellow_bar.gif');
}

ul#promos li.pink h4
{
	background-image: url('../skin/bars/pink_bar.gif');
}

ul#promos li h4 a
{
	padding:15px;
	padding-top:20px;
	display:block;
	color:#221e1f;
	text-decoration:none;
	font-size:2.4em;
	letter-spacing:-1px;
	text-transform:uppercase;
	font-weight:bold;
}

span.white
{
	color:#ffffff !important;
}

div#player
{
	margin-top:20px;
	overflow:hidden;
}

div#player div.panes
{
	width:629px;
	height:353px;
	float:left;
}

div#player ul
{
	float:left;
	width:309px;
	border-left:1px solid #417280;
	border-right:1px solid #417280;
}

div#player ul li
{
	display:block;
	height: 70px;
	background-image:url('../skin/blue_grad.png');
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#48c7eb;
	cursor:pointer;
	border-top:1px solid #78e1ff;
	border-bottom:1px solid #417280;
	position:relative;
	color:#ffffff;
}

div#player ul li h4
{
	padding-left:15px;
	padding-top:15px;
	font-size:2em;
	letter-spacing:-1px;
	padding-bottom:5px;
}

div#player ul li p
{
	padding-left:15px;
	font-size:1.1em;
}

div#player ul li:hover
{
	background-image:url('../skin/blue_grad_dark.png');
	background-color:#247b94;
}

div#player ul li.current
{
	background-image:url('../skin/pink_grad.png');
	background-color:#ec2492;
	border-bottom-color:#78385b;
	border-top-color:#ff95cf;
}

div#player ul li.current span.arrow
{
	height:70px;
	width:30px;
	position:absolute;
	top:0px;
	left:-30px;
	background-image:url('../skin/pink_arrow.png');
}

div#player div.panes
{
	background-color:#000000;
}

div#player div.panes div
{
	position:relative;
}

div#player div.panes div span
{
	width:500px;
	background-image:url('../skin/black_bg.png');
	color:#ffffff;
	position:absolute;
	left:0px;
	bottom:20px;
	padding:20px;
	font-size:1.2em;
	line-height:1.6em;
}

div#twitter
{
	background-image:url('../skin/callouts/twitter_top.gif');
	background-position:top left;
	background-repeat:no-repeat;
	float:right;
	width:300px;
	position:absolute;
	right:0px;
	top:0px;
}

div#twitter div.inner
{
	background-image:url('../skin/callouts/twitter_bottom.gif');
	background-position:bottom left;
	background-repeat:no-repeat;
	padding-bottom:40px;
	margin-bottom:20px;
}

div#twitter div.inner p
{
	font-size:1.2em;
	line-height:1.5em;
	color:#41b3d3;
	padding:15px;
}

div#twitter img
{
	position:absolute;
	bottom:0px;
	right:0px;
}

div#twitter p.twitter
{
	font-size:1.2em;
	position:absolute;
	bottom:20px;
	left:3px;
}

